# Python artifacts
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter / Colab artifacts
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.log
